@import 'variables';

* { box-sizing: border-box; }
html, body { height: 100%; }

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  margin: 0;
  background: $light;
  color: $dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Helpers */
.container-xx {
  max-width: 1200px;
  margin: 0 auto;
}
