// Colores
$primary-color: #0d6efd;
$secondary-color: #212529;
$background-color: #f8f9fa;

// Tipografía y tamaños
$font-main: 'Arial', sans-serif;
$header-font-size: 2rem;
$footer-font-size: 0.9rem;
